# Ignore node_modules directory
node_modules/

# Ignore all .log files
*.log

# Ignore environment folder
.env/
# Ignore userdata
userdata/
# Ignore _pycache
__pycache__/
__pycache__/gpt4allconnect.cpython-312.pyc
